{% extends 'layout.html' %}{% load crispy_forms_tags %}{% block title %}
<title>Login</title>
{% endblock %}{% block jumbotron %}{% endblock %}{% block content %}

<div class="register-box p-2 w-50">
    <fieldset class="form-group">
        <legend class="mb-2 border-bottom">Reset password</legend>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Request reset password" class="btn btn-success"></input>
        </form> 
    </fieldset>
</div>


{% endblock %}